*{
    padding: 0;
    margin: 0;
}

body{
    font-family: chinese Rocks Rg;
    background-image: url(photos/Rectangle\ 7.png);
}
ul {
    list-style: none;
    padding: 50px;
    margin: 0;
    
}

nav {
    
    text-align: center;
    padding: 40px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

nav ul {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-around;
}
nav li{
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 34px ;

}
.title{
    color: #FCFE00;
    color: color(display-p3 0.9882 0.9961 0.098);
    font-family: chinese Rocks Rg;
    font-size: 114.24px;
    text-align: center;
    display: flex;
    flex-direction: column;
 
}
.contact-informations{
    display: flex;
    color: #ffffff;
    align-items: center;
    flex-direction: column;   
}
.custom-input {
    border-radius: 10px;
    border: 1px solid #000;
    border: 1px solid color(display-p3 0 0 0);
    background: rgba(0, 0, 0, 0.28);
    background: color(display-p3 0 0 0 / 0.28);
    width: 477px;
    height: 72px;
    flex-shrink: 0;
    font-family: valorant;
    font-size: 33px;
    color: #ffffff;
    margin: 20px;
  }
  .first-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .custom-input2{
    border-radius: 10px;
    border: 1px solid #000;
    border: 1px solid color(display-p3 0 0 0);
    background: rgba(0, 0, 0, 0.28);
    background: color(display-p3 0 0 0 / 0.28);
    width: 400px;
    height: 87px;
    flex-shrink: 0;
    font-family: valorant;
    font-size: 25px;
    color: #ffffff;
    
  }
  .all-input{
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  footer {
    
    background-color: #333;
    color: white;
    padding: 10px 30px;
    text-align: center;
    
}

footer p {
    margin: 0;
}
  