body{
    font-family: chinese Rocks Rg;
    background-image: url(photos/Rectangle\ 6.png);
}
ul {
    list-style: none;
    padding: 50px;
    margin: 0;
    
}

nav {
    
    text-align: center;
    padding: 40px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

nav ul {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-around;
}
nav li{
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 34px ;

}
.title{
    color: #47EAD0;
    color: color(display-p3 0.2784 0.9176 0.8157);
    font-family: chinese Rocks Rg;
    font-size: 114.24px;
    text-align: center;
    display: flex;
    flex-direction: column;
 
}

.consol-N0{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 50px;
}
.consol-N0 img{
    cursor: pointer;
}

.parag-button p{

    color: #FF007E;
    color: color(display-p3 0.9961 0.1529 0.4941); 
    text-align: center;
    text-shadow: 5px 4px 4px #000;
    text-shadow: 5px 4px 4px color(display-p3 0 0 0);
    font-family: Chinese Rocks;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 46px */
    letter-spacing: 3.4px;
}

.parag-button p2{
    color: #FCFE00;

color: color(display-p3 0.9882 0.9961 0.098);

font-family: Chinese Rocks;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 40.25px */
letter-spacing: 2.975px;
}
.parag-button p3{
    color: #FFF;
color: color(display-p3 1 1 1);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
font-family: Chinese Rocks;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 34.5px */
letter-spacing: 2.55px;
}



.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.achats{
    display: flex;
    justify-content: space-around;
  
}
.fifa21 p3{
    color: #FFF;
    color: color(display-p3 1 1 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
    font-family: Chinese Rocks;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; 
    letter-spacing: 2.55px;
} 
.fifa21{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.call-of-dutty p3{
    color: #FFF;
    color: color(display-p3 1 1 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
    font-family: Chinese Rocks;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; 
    letter-spacing: 2.55px;
    display: flex;
    align-items: center;
}
.call-of-dutty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fc24 p3{
    color: #FFF;
    color: color(display-p3 1 1 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px color(display-p3 0 0 0 / 0.25);
    font-family: Chinese Rocks;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; 
    letter-spacing: 2.55px;
    display: flex;
    align-items: center;
}
.fc24{
    display: flex;
    flex-direction: column;
    align-items: center;
}







